:root {
    /* primary */
    --red: hsl(8, 78%, 56%);
    --cyan-green: hsl(162, 38%, 45%);
    --indigo: hsl(220, 48%, 38%);

    /* secondary */
    --amber: hsl(38, 88%, 60%);
    --lotus-pink: hsl(340, 35%, 77%);
    --light-green: hsl(150, 25%, 70%);

    /* neutral */
    --rice-white: hsl(48, 45%, 95%);
    --mist-gray: hsl(0, 0%, 72%);
    --black: hsl(220, 15%, 12%);
}

body {
    margin: 0;
    color: var(--rice-white);
    background-color: var(--cyan-green);
}

.app-container {
    display: flex;
    flex-direction: column;
}

.app-container > div {
    padding: 2rem;
    background-color: var(--cyan-green);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    gap: 2rem;
}

@media (min-width: 760px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}

.card {
    text-align: center;
}

.card > button {
    font-size: large;
    width: 100%;
    height: 9rem;
    background-color: var(--indigo);
    color: var(--rice-white);

    transform: scale(1);
    transition: transform 220ms ease-in-out, background-color 220ms ease-in-out;
}

@media (min-width: 760px) {
    .card > button {
        font-size: xx-large;
        height: 18rem;
    }
}

.card > button:hover {
    background-color: var(--amber);
    transform: scale(1.2);
}

hr {
    margin: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red);
    padding: 2rem;
}

@media (min-width: 760px) {
    header {
        flex-direction: row;
    }
}

header > p {
    font-size: x-large;
}

.highlighted {
    background-color: var(--lotus-pink) !important;
}

.difficulty-button-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.difficulty-button {
    width: 2.5rem;
    height: 3rem;
    border-radius: 15px;
    border: none;
    font-size: large;
    background-color: var(--rice-white);
    color: var(--black);

    transform: scale(1);
    transition: transform 220ms ease-in-out, background-color 220ms ease-in-out;
}

@media (min-width: 760px) {
    .difficulty-button {
        width: 3rem;
        height: 2rem;
    }
}

.difficulty-button:hover {
    background-color: var(--amber);
    transform: scale(1.2);
}

.selected {
    background-color: var(--amber);
    transform: scale(1.2);
}
